<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link th:rel="stylesheet" th:href="@{/css/style.css}" />
    <!-- <link
      rel="stylesheet"
      th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css}"
    /> -->
    <!-- * Fontawesome -->
    <th:block th:replace="fragments/headerLink :: fontawesome"></th:block>
    <title>Menù</title>
  </head>
  <body>
    <th:block th:replace="~{fragments/header :: header}"></th:block>

    <main>
      <div class="page-title">
        <h1>Nuova offerta</h1>
        <h2 th:if="${edit} == true">
          Modifica offerta a [[${discount.pizza}]]
        </h2>
        <h2 th:if="${edit} == false">
          Aggiungi nuova offerta a [[${discount.pizza}]]
        </h2>
      </div>

      <!-- th:action="@{/discount/create}" -->
      <form
        th:object="${discount}"
        id="discount-form"
        th:action="${edit} == true ? @{/discount/} + ${discount.id} + @{/edit-discount} : @{/discount/create}"
        method="post"
      >
        <input type="hidden" th:field="*{pizza}" />

        <div class="form-pizza form-pizza-name">
          <label for="title">Nome dello sconto: </label>
          <input
            type="text"
            id="title"
            th:field="*{title}"
            th:errorClass="is-invalid"
          />
        </div>
        <div th:if="${#fields.hasErrors('title')}" class="error">
          <ul>
            <li
              th:each="error : ${#fields.errors('title')}"
              th:text="${error}"
            ></li>
          </ul>
        </div>

        <div class="line"></div>

        <div class="form-pizza form-pizza-name">
          <label for="startingDate">Inizio dello sconto: </label>
          <input
            type="date"
            id="startingDate"
            th:field="*{startingDate}"
            th:errorClass="is-invalid"
          />
        </div>
        <div th:if="${#fields.hasErrors('startingDate')}" class="error">
          <ul>
            <li
              th:each="error : ${#fields.errors('startingDate')}"
              th:text="${error}"
            ></li>
          </ul>
        </div>

        <div class="line"></div>

        <div class="form-pizza form-pizza-name">
          <label for="finishDate">Fine dello sconto: </label>
          <input
            type="date"
            id="finishDate"
            th:field="*{finishDate}"
            th:errorClass="is-invalid"
          />
        </div>
        <div th:if="${#fields.hasErrors('finishDate')}" class="error">
          <ul>
            <li
              th:each="error : ${#fields.errors('finishDate')}"
              th:text="${error}"
            ></li>
          </ul>
        </div>

        <div class="line"></div>

        <div class="confimr-btn-container">
          <button type="submit" class="confirm-add-btn">Conferma</button>
          <button type="reset" class="cancel-add-btn">Annulla</button>
        </div>
      </form>
    </main>
  </body>
</html>
