<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link th:rel="stylesheet" th:href="@{/css/style.css}" />
    <!-- * Fontawesome -->
    <th:block th:replace="~{fragments/headerLink :: fontawesome}"></th:block>
    <title>Pizza</title>
  </head>
  <body>
    <th:block th:replace="~{fragments/header :: header}"></th:block>

    <main>
      <div class="page-title">
        <h1>Pizza [[${pizza}]]</h1>
      </div>
      <div class="show-page-container">
        <div class="show-img-container">
          <img
            th:if="${pizza.image != null}"
            th:src="@{/img/pizze-img/} + ${pizza.image}"
            alt=""
          />

          <img
            th:unless="${pizza.image != null}"
            th:src="@{/img/placeholder-img.jpg}"
            alt=""
          />
        </div>

        <div class="show-page-content">
          <div class="ingredients">
            <span class="pizza-bold">Descrizione: </span>
            <p>[[${pizza.getDescription()}]]</p>
          </div>
          <div class="price">
            <span class="pizza-bold">[[${pizza.getPrice()}]]</span>
            <span class="pizza-bold"> €</span>
          </div>

          <div class="ingredients-container">
            <h3>Ingredienti della pizza:</h3>
            <div
              th:if="${pizza.ingredients.size() > 0}"
              class="pizza-show-ingredients"
            >
              <ul>
                <li th:each="ingredient : ${pizza.ingredients}">
                  [[${ingredient}]]
                </li>
              </ul>
            </div>

            <div
              th:unless="${pizza.ingredients.size() > 0}"
              class="no-ingredients-container"
            >
              <span>Gli ingredienti non sono disponibili per questa pizza</span>
            </div>
          </div>

          <div class="discount-pizzas-container">
            <h2>Promozioni attive:</h2>
          </div>

          <!-- CARD -->
          <th:block
            th:replace="~{fragments/discountCard :: discount-card(${pizza})}"
          ></th:block>

          <div
            class="no-pizzas-discounts-container"
            th:unless="${pizza.getDiscount()}"
          >
            <span>Non sono presenti offerte per questa pizza</span>
          </div>
        </div>

        <!-- Create -->
        <div class="create-offer-btn-container">
          <a th:href="@{/menu/} + ${pizza.id} + @{/create-discount}" href="">
            <button class="create-offer-btn">Crea offerta</button>
          </a>
        </div>
      </div>
    </main>
  </body>
</html>
